/*** Awesome Table ***/

/* filtered results information : last - first / total number of result */
.count {
	border-top:1px solid #E5E5E5;
	border-bottom:1px solid #E5E5E5;
}

/* loader progress bar */
.loader {
	background-color:#db4437;
}

/** Card view specific **/
.viewCards .google-visualization-table-table {
	background-color: transparent!important;
}
.viewCards .google-visualization-table-td {
	border-color: #D8D8D8!important;
}

/*** Google visualization override ***/

/* page number display */
.google-visualization-table-page-numbers {
	display:none !important;
}

/* Table view header */
.google-visualization-table-table .gradient,
.google-visualization-table-div-page .gradient {
	background: #F4F4F4 !important;
	color:#444444;
}

/* selected/hovered row in a TABLE view */
.google-visualization-table-tr-sel td,
.google-visualization-table-tr-over td {
	background-color: #FFFFCC!important;
}
